

body{
    background-color: rgb(162, 158, 177);
    text-decoration: none;
}
.posi{
    margin-top: 40px;
    /* margin-left: 450px; */
   
}



nav{
    margin-top: 40px;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    list-style-type: none;
    
    
}
.login{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 100px;
    
    
}
ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}


/* .nav-item:hover{
   
} */




.rang:hover{
    text-decoration: none;
    background-color: brown;
}



.setting{
margin-top: 500px;

}

.card{
    margin-top: 2rem;
    
}

@media screen and (max-width: 499px) {
    .adjust{
        /* margin-left: 50px; */
        }


        
  }

img{
    background-size: inherit;
}