body{
    background-image: url("imges/20210330_123729133_iOS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.color{
    max-height: 20px;
    
;
}
.btn-group{
    padding-left: 500px;
}
h1{

}





    



